{% extends 'base.html.twig' %}

{% block title %}Csv import{% endblock %}

{% block body %}

<div class="wrapper">
    {{ form_start(form, { 'attr': {'novalidate' : 'novalidate'} }) }}
        {{ form_row(form.file) }}
        <div id="prototype" data-prototype="{{ form_widget(form.csvSettings.vars.prototype)|e }}"></div>
        <div class="csv-sets"></div>
        {{ form_row(form.import) }}
        {{ form_row(form._token) }}
    {{ form_end(form, { 'render_rest': false }) }}

    {% if ids|length > 0 %}
        <p>Files have been uploaded and will be processed!</p>
        <div>
            IDs of requests:
            <ul>
                {% for id in ids %}
                    <li>id{{ id }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
