{% extends 'base.html.twig' %}

{% block title %}Csv import{% endblock %}

{% block body %}

<div class="wrapper">
    {{ form_start(form, { 'attr': {'novalidate' : 'novalidate'} }) }}
        {{ form_row(form.file) }}
        {{ form_row(form.testmode) }}
        <div id="prototype" data-prototype="{{ form_widget(form.csvSettings.vars.prototype)|e }}"></div>
        <div class="csv-sets"></div>
        {{ form_row(form.import) }}
        {{ form_row(form._token) }}
    {{ form_end(form, { 'render_rest': false }) }}

    {% if not import is null and import.requests|length > 0 %}
        <p>Processed: {{ import.requests|length }}</p>
        <p>Success: {{ import.complete|length }}</p>
        <p>Failed: {{ import.failed|length }}</p>
        <p>
            Errors:
            <ul>
                {% for request in import.failed %}
                    <li>{{ request|join(', ') }}</li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}
</div>
{% endblock %}
