{% extends 'base.html.twig' %}

{% block title %}Csv import{% endblock %}

{% block body %}

<div class="wrapper">
    {{ form(form, { 'attr': {'novalidate' : 'novalidate'} }) }}

    {% if not import is null and import.requests|length > 0 %}
        <p>Processed: {{ import.requests|length }}</p>
        <p>Success: {{ import.complete|length }}</p>
        <p>Failed: {{ import.failed|length }}</p>
        <p>
            Errors:
            <ul>
                {% for request in import.failed %}
                    <li>{{ request|join(', ') }}</li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}
</div>
{% endblock %}
