<tr>
    <td>{{ product.code }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.descriptions }}</td>
    <td>{{ product.stock }}</td>
    <td>{{ product.cost }}</td>
    <td>{{ product.createdAt | format_datetime('short', 'short') }}</td>
    <td>
        {% if product.discontinuedAt is not null %}
            {{ product.discontinuedAt | format_datetime('short', 'short') }}
        {% else %}
            -
        {% endif %}
    </td>
</tr>