<tr>
    <td>{{ product.code }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.descriptions }}</td>
    <td>{{ product.stock }}</td>
    <td>{{ product.cost }}</td>
    {% if withAdded %}
        <td>{{ product.createdAt | format_datetime('short', 'short') }}</td>
    {% endif %}
    <td>
        {% if product.discontinuedAt is defined %}
            {{ product.discontinuedAt | format_datetime('short', 'short') }}
        {% else %}
            -
        {% endif %}
    </td>
</tr>